/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.list-group-item {
  color: #333;
  border: none;
}

.list-group-item:hover {
  background-color: #f0f8ff;
  color: #007bff;
}

.list-group-item.active {
  background-color: #007bff;
  color: white;
}

/* Contenido Principal */
.flex-grow-1 {
  margin-left: 220px; /* Margen izquierdo igual al ancho del sidebar */
  padding: 20px;
  min-height: 100vh;
}

.card {
  border: none;
  border-radius: 15px;
}